# üßë‚Äçüíª NumPy Complete Guided Project
**Instructor / Student Colab Notebook** ‚Äì covers *all* key concepts from `Numpy‚Äë1` to `Numpy‚Äë5`.

*Generated: 08¬†Aug¬†2025*


**Table of Contents**

1. [Setup](#setup)  
2. [Array Creation & Dtypes](#creation)  
3. [Array Attributes & Inspection](#attributes)  
4. [Indexing, Slicing, Fancy Indexing](#indexing)  
5. [Reshaping, Transpose & Copies vs‚ÄØViews](#reshape)  
6. [Joining, Splitting, Set & Sorting Ops](#join)  
7. [Arithmetic Ops, Universal Functions](#arithmetic)  
8. [Broadcasting (Rules¬†+ Examples)](#broadcast)  
9. [Statistics & Aggregations](#stats)  
10. [Random Numbers & Reproducibility](#random)  
11. [Structured¬†/ Recarrays](#structured)  
12. [Linear Algebra Essentials](#linalg)  
13. [File¬†I/O (`npy`, `npz`, `txt`)](#io)  
14. [Datetime64 & Timedelta64](#datetime)  
15. [Masked Arrays & NaNs](#mask)  
16. [Mini‚ÄëProject¬†‚Äî Fitness Data Analysis](#project)  
17. [Conclusion & Next Steps](#conclusion)

## <a name='setup'></a>1Ô∏è‚É£ Setup

In [3]:
import numpy as np, math, os, pathlib, types, textwrap, random
print('NumPy version:', np.__version__)

NumPy version: 2.0.2

## <a name='creation'></a>2Ô∏è‚É£ Array Creation & Dtypes

Key functions: `np.array`, `np.arange`, `np.linspace`, `zeros`, `ones`, `full`, `eye`, `identity`, `diag`, `empty`

In [ ]:
# EXAMPLE
arr1 = np.array([1, 2, 3], dtype=np.int32)
arr2 = np.linspace(0, 1, 6)
arr3 = np.full((2,3), 7.5)
print(arr1, arr2, arr3, sep="\n")
print("dtypes:", arr1.dtype, arr2.dtype)

[1 2 3]
[0.  0.2 0.4 0.6 0.8 1. ]
[[7.5 7.5 7.5]
 [7.5 7.5 7.5]]
dtypes: int32 float64

In [ ]:
# üñäÔ∏è¬†TODO: create a 10√ó10 chessboard pattern using zeros & ones
a = np.zeros((10, 10), dtype=int)
a[1::2, ::2] = 1
a[::2, 1::2] = 1
print(a)

[[0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]]

## <a name='attributes'></a>3Ô∏è‚É£ Array Attributes & Inspection

`shape`, `ndim`, `size`, `dtype`, `itemsize`, `nbytes`

In [ ]:
M = np.arange(12).reshape(3,4)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (3, 4) ndim 2 size 12 itemsize 8 total bytes 96

In [ ]:
# üñäÔ∏è TODO: check memory footprint of a 1000√ó1000 float64 array
a=np.arange(1000000).reshape(1000,1000)
print('shape', a.shape, 'ndim', a.ndim, 'size', a.size, 'itemsize', a.itemsize, 'total bytes', a.nbytes)

shape (1000, 1000) ndim 2 size 1000000 itemsize 8 total bytes 8000000

## <a name='indexing'></a>4Ô∏è‚É£ Indexing, Slicing & Fancy Indexing

In [ ]:
a = np.arange(1,26).reshape(5,5)
print(a[:, 0])     # first column
print(a[::2, ::2]) # every 2nd row/col
mask = (a % 3 == 0)
print('multiples of 3:', a[mask])

[ 1  6 11 16 21]
[[ 1  3  5]
 [11 13 15]
 [21 23 25]]
multiples of 3: [ 3  6  9 12 15 18 21 24]

In [ ]:
# üñäÔ∏è TODO: use fancy indexing to swap first and last rows of `a`
a[[0, -1]] = a[[-1, 0]]
print(a)

[[21 22 23 24 25]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [ 1  2  3  4  5]]

## <a name='reshape'></a>5Ô∏è‚É£ Reshaping, Transpose & Copies vs‚ÄØViews

In [ ]:
b = np.arange(8)
B = b.reshape(2,4)
B[0,0] = 99
print('b is modified:', b)
C = b.reshape(2,4).copy()
C[0,0] = -1
print('b unchanged with copy:', b)

b is modified: [99  1  2  3  4  5  6  7]
b unchanged with copy: [99  1  2  3  4  5  6  7]

In [ ]:
# üñäÔ∏è TODO: Flatten a 3‚ÄëD array into 1‚ÄëD using both `ravel` and `flatten`; observe copy vs view.
a = np.arange(24).reshape(2, 3, 4)
print(a)
r = a.ravel()
print(r)
f = a.flatten()
print(f)
r[0] = 999
print(a)
f[1] = 555
print(a)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
[[[999   1   2   3]
  [  4   5   6   7]
  [  8   9  10  11]]

 [[ 12  13  14  15]
  [ 16  17  18  19]
  [ 20  21  22  23]]]
[[[999   1   2   3]
  [  4   5   6   7]
  [  8   9  10  11]]

 [[ 12  13  14  15]
  [ 16  17  18  19]
  [ 20  21  22  23]]]

## <a name='join'></a>6Ô∏è‚É£ Joining, Splitting, Set & Sorting Ops

In [ ]:
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print('union', np.union1d(x,y))
print('intersect', np.intersect1d(xy,[1,2,10]))
print('sorted descending', np.sort(xy)[::-1])

union [1 2 3 4 5 6]
intersect [1 2]
sorted descending [6 5 4 3 2 1]

In [ ]:
# üñäÔ∏è TODO: split `xy` back into two equal halves using `np.array_split`
parts = np.array_split(xy, 2)
print(parts[0])
print(parts[1])

[1 3 5]
[2 4 6]

## <a name='arithmetic'></a>7Ô∏è‚É£ Arithmetic Ops & Universal Functions

In [ ]:
v = np.arange(5)
print('exp', np.exp(v))
print('sin', np.sin(v))
print('vectorised addition', v + 10)

exp [ 1.          2.71828183  7.3890561  20.08553692 54.59815003]
sin [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
vectorised addition [10 11 12 13 14]

In [ ]:
# üñäÔ∏è TODO: given degrees [0,30,45,60,90], compute radians and sin values.
degrees = np.array([0, 30, 45, 60, 90])
radians = np.deg2rad(degrees)
sine = np.sin(radians)
print(radians)
print(sine)

[0.         0.52359878 0.78539816 1.04719755 1.57079633]
[0.         0.5        0.70710678 0.8660254  1.        ]

## <a name='broadcast'></a>8Ô∏è‚É£ Broadcasting Rules

Rules: compare dimensions from right ‚Üí left; stretch size 1 dims; mismatch error.

In [ ]:
row = np.arange(5)
col = np.arange(3).reshape(3,1)
matrix = row + col  # broadcast to 3√ó5
print(matrix)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]]

In [ ]:
# üñäÔ∏è TODO: use broadcasting to create a 10√ó10 multiplication table.
row = np.arange(1, 11)
col = np.arange(1, 11).reshape(10, 1)
table=row*col
print(table)

[[  1   2   3   4   5   6   7   8   9  10]
 [  2   4   6   8  10  12  14  16  18  20]
 [  3   6   9  12  15  18  21  24  27  30]
 [  4   8  12  16  20  24  28  32  36  40]
 [  5  10  15  20  25  30  35  40  45  50]
 [  6  12  18  24  30  36  42  48  54  60]
 [  7  14  21  28  35  42  49  56  63  70]
 [  8  16  24  32  40  48  56  64  72  80]
 [  9  18  27  36  45  54  63  72  81  90]
 [ 10  20  30  40  50  60  70  80  90 100]]

## <a name='stats'></a>9Ô∏è‚É£ Statistics & Aggregations

In [ ]:
data = np.random.default_rng(0).integers(1, 100, size=(5,4))
print('data\n', data)
print('row sums', data.sum(axis=1))
print('col means', data.mean(axis=0))

data
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
row sums [227  46 255 281 266]
col means [49.4 53.  55.4 57.2]

In [ ]:
# üñäÔ∏è TODO: compute `np.percentile` (25th, 50th, 75th) of flattened `data`.
flat_data = data.ravel()
q25, q50, q75 = np.percentile(flat_data, [25, 50, 75])

print('25th percentile:', q25)
print('50th percentile :', q50)
print('75th percentile:', q75)

25th percentile: 30.0
50th percentile : 58.5
75th percentile: 75.0

## <a name='random'></a>üîü Random Numbers & Reproducibility

In [ ]:
rng = np.random.default_rng(42)
rand_floats = rng.random(5)
rand_ints = rng.integers(low=10, high=50, size=5)
print(rand_floats, rand_ints)
rng2 = np.random.default_rng(42)
assert np.allclose(rand_floats, rng2.random(5))

[0.77395605 0.43887844 0.85859792 0.69736803 0.09417735] [31 49 39 40 38]

In [ ]:
# üñäÔ∏è TODO: simulate rolling a fair six‚Äësided die 100 times; estimate proportion of 6s.
rolls = rng.integers(low=1, high=7, size=100)
proportion_sixes = np.mean(rolls == 6)

print("Rolls:", rolls)
print("Proportion of 6s:", proportion_sixes)

Rolls: [4 1 1 2 1 3 5 4 3 6 4 1 5 4 4 4 4 1 4 5 2 4 1 3 3 6 2 2 3 6 6 1 2 5 1 6 2
 6 2 3 4 1 4 4 5 6 4 3 3 3 5 2 2 3 1 1 1 5 5 5 3 5 1 6 4 6 1 3 5 3 3 1 3 2
 2 5 4 4 3 6 1 3 1 3 6 3 6 3 5 3 2 5 6 2 5 2 5 5 3 5]
Proportion of 6s: 0.13

## <a name='structured'></a>1Ô∏è‚É£1Ô∏è‚É£ Structured / Record Arrays

In [ ]:
people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])
print(people['name'], people['age'].mean())

['Alice' 'Bob'] 27.5

In [ ]:
# üñäÔ∏è TODO: add a new field 'height' to the structured array using `np.lib.recfunctions.append_fields` (hint: pip install?).
heights = np.array([5.5, 6.0])

a_new = rfn.append_fields(people, 'height', heights, dtypes=float, usemask=False)

print(a_new)
print(a_new.dtype)

[('Alice', 25, 55. , 5.5) ('Bob', 30, 85.5, 6. )]
[('name', '<U10'), ('age', '<i4'), ('weight', '<f4'), ('height', '<f8')]

## <a name='linalg'></a>1Ô∏è‚É£2Ô∏è‚É£ Linear Algebra Essentials

In [ ]:
A = np.random.random((3,3))
b = np.random.random(3)
x = np.linalg.solve(A, b)
print('A¬∑x ‚âà b?', np.allclose(A.dot(x), b))

A¬∑x ‚âà b? True

In [ ]:
# üñäÔ∏è TODO: compute eigenvalues of `A` using `np.linalg.eig`.
eigenvalues, eigenvectors = np.linalg.eig(A)

print("Eigenvalues:", eigenvalues)
print("Eigenvectors:\n", eigenvectors)

Eigenvalues: [ 0.75831337+0.j         -0.21200947+0.40575865j -0.21200947-0.40575865j]
Eigenvectors:
 [[-0.79403376+0.j          0.72680675+0.j          0.72680675-0.j        ]
 [-0.31464362+0.j         -0.20604163-0.27108744j -0.20604163+0.27108744j]
 [-0.52010554+0.j         -0.3822594 +0.45791718j -0.3822594 -0.45791718j]]

## <a name='io'></a>1Ô∏è‚É£3Ô∏è‚É£ File‚ÄØI/O (`npy`, `npz`, `txt`)

In [56]:
np.save('array.npy', A)
loaded = np.load('array.npy')
print('loaded equals A?', np.allclose(loaded, A))
np.savez('multi_arrays.npz', A=A, b=b)

loaded equals A? True

In [57]:
# üñäÔ∏è TODO: Use `np.savetxt` to write `data` (from stats section) to CSV then reload with `np.loadtxt`.
np.savetxt('data.csv', data, delimiter=',', fmt='%f')  # fmt='%f' formats as floats

loaded_data = np.loadtxt('data.csv', delimiter=',')

print('loaded_data equals data?', np.allclose(loaded_data, data))

loaded_data equals data? True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## <a name='datetime'></a>1Ô∏è‚É£4Ô∏è‚É£ Datetime64 & Timedelta64

In [46]:
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')
delta = dates[1:] - dates[:-1]
print(dates[:5], delta[0])

['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'] 1 days

In [47]:
# üñäÔ∏è TODO: find how many Mondays appear in `dates` array.
weekdays = dates.astype('datetime64[W]').view('int64')
day = (dates - dates.astype('datetime64[W]')).astype(int)
monday = np.sum(day == 0)

print(f"Number of Mondays: {monday}")

Number of Mondays: 13

## <a name='mask'></a>1Ô∏è‚É£5Ô∏è‚É£ Masked Arrays & NaNs

In [48]:
arr = np.array([1, 2, np.nan, 4, np.nan])
masked = np.ma.masked_invalid(arr)
print(masked.mean())

2.3333333333333335

In [59]:
# üñäÔ∏è TODO: replace NaNs with column means in a 2‚ÄëD array containing NaNs.
arr = np.array([[3, 4, np.nan],
                [5, np.nan, np.nan],
                [6, 7, 8]], dtype=float)
col_means = np.nanmean(arr, axis=0)

nan_indices = np.where(np.isnan(arr))

arr[nan_indices] = np.take(col_means, nan_indices[1])

print(arr)

[[3.  4.  8. ]
 [5.  5.5 8. ]
 [6.  7.  8. ]]

## <a name='project'></a>1Ô∏è‚É£6Ô∏è‚É£ Mini‚ÄëProject: Fitness Data Analysis

Load `fitness.txt` (tab‚Äëseparated) then follow prompts.

In [5]:
fitness = np.genfromtxt('fitness.txt', delimiter='\t', dtype=None, encoding=None, names=True)
print('columns:', fitness.dtype.names, 'rows:', len(fitness))

columns: ('date', 'step_count', 'mood', 'calories_burned', 'hours_of_sleep', 'bool_of_active', 'weight_kg') rows: 96

In [9]:
# üñäÔ∏è TODO: Monthly step count, sleep vs mood correlation, weekly summary, etc.
dates = fitness['date']
steps = fitness['step_count']
sleep = fitness['hours_of_sleep']
mood = fitness['mood']

mons = np.array([d[3:] for d in dates])
uniq_mons = np.unique(mons)

mon_steps = {}
for m in uniq_mons:
    mask = mons == m
    mon_steps[m] = np.sum(steps[mask])

print("\n Monthly Step Count:")
for m, total in mon_steps.items():
    print(f"  {m}: {total} steps")

corr = np.corrcoef(sleep, mood)[0, 1]
print(f"\n Correlation between sleep and mood: {corr:.3f}")

length = len(fitness)
full_wks = length // 7

wk_steps = np.array_split(steps[:full_wks * 7], full_wks)
wk_sleep = np.array_split(sleep[:full_wks * 7], full_wks)
wk_mood = np.array_split(mood[:full_wks * 7], full_wks)

print("\nWeekly Summary:")
for i in range(full_wks):
    print(f"  Week {i+1}: steps={np.mean(wk_steps[i]):.0f}, "
          f"sleep={np.mean(wk_sleep[i]):.1f}, mood={np.mean(wk_mood[i]):.0f}")

 Monthly Step Count:
  01-2018: 10163 steps
  10-2017: 79051 steps
  11-2017: 103071 steps
  12-2017: 89565 steps

 Correlation between sleep and mood: 0.210

Weekly Summary:
  Week 1: steps=4684, sleep=5.6, mood=129
  Week 2: steps=2662, sleep=6.3, mood=129
  Week 3: steps=2863, sleep=5.6, mood=157
  Week 4: steps=2400, sleep=5.9, mood=257
  Week 5: steps=3554, sleep=4.6, mood=286
  Week 6: steps=3876, sleep=5.3, mood=300
  Week 7: steps=3310, sleep=5.6, mood=286
  Week 8: steps=2668, sleep=6.0, mood=257
  Week 9: steps=2929, sleep=7.0, mood=271
  Week 10: steps=3742, sleep=4.1, mood=186
  Week 11: steps=2654, sleep=4.4, mood=171
  Week 12: steps=3001, sleep=4.4, mood=171
  Week 13: steps=1189, sleep=3.3, mood=143

## <a name='conclusion'></a>1Ô∏è‚É£7Ô∏è‚É£ Conclusion & Further Practice
Congrats on covering **all core NumPy topics** from your five lecture notebooks!

*Keep experimenting, read the official docs, and try converting your NumPy pipelines into Pandas or JAX for more fun.*